# ignore neovim plugins
**/nvim/plugged/

# also, polybar tests
**/polybar/old/

# mpd stuff
**/mpd/log
**/mpd/pid
**/mpd/state

# nvim own plugins
**/nvim/autoload/
**/nvim/ftdetect
**/nvim/ftplugin
**/nvim/syntax

# zsh dump
**/zsh/.zcompdump*

# p10k zsh
**/zsh/.p10k*
